@page
@model IndexModel
@{
    ViewData["Title"] = "O nosso Portfolio";
}

<div class="text-center">
    <h1 class="display-4">Olá somos o Tiago e o Nuno e este é o nosso portfólio, vamos aprender mais sobre a UFCD e criar contactos. </h1>
    <img src="/Images/program.jpg" width="450" height="300" />
</div>


<style>
    h1 {
        color: #7c795d;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Trocchi', serif;
        font-size: 25px;
        font-weight: normal;
        line-height: 48px;
        margin: 0;
    }

   
</style>
