@page
@model PrivacyModel
@{
    ViewData["Title"] = "Vamos descobrir tudo sobre a UFCD";
}
<h1>@ViewData["Title"]</h1>



<style>
    h1{
        display: flex;
        align-items: center;
        justify-content: center;
    }

      h6
      {
        font-family: 'Trocchi', serif;
        display: flex;
        align-items: right;
        justify-content: right;
        text-align:right
    }

 

    p{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Trocchi', serif;
        font-size: 25px;
        font-weight: normal;
        line-height: 48px;
        margin: 0;
    }
</style>


<br />
<br />
<p>
    C# é uma linguagem de programação, multiparadigma, de tipagem forte, desenvolvida pela Microsoft como parte da plataforma .NET.
<br> A sua sintaxe orientada a objetos foi baseada no C++ mas inclui muitas influências de outras linguagens de programação, como Object Pascal e, principalmente, Java. 
    O código fonte é compilado para Common Intermediate Language (CIL) que é interpretado pela máquina virtual Common Language Runtime (CLR).
    <br />C# é uma das linguagens projetadas para funcionar na Common Language Infrastructure da plataforma .NET Framework.
    
    </p>

<p>
    <h6>
        <a href="https://pt.wikipedia.org/wiki/C_Sharp "> Ver mais</a>
    
    </h6>
</p>




<br />
<br />
<br />
<br />



<p>
    <h1>Objetivos da UFCD</h1>
</p>

<br />
<p>
    Produzir, depurar e testar o código de aplicações produzidas no ambiente Visual Studio com recurso à linguagem Visual C# .NET.
    <br />Manipular a programação por objetos e eventos em  Visual C# .NET.
   
<p>
    <h6>
        <a href="https://pt.wikipedia.org/wiki/C_Sharp "> Ver mais</a>

    </h6>
</p>
